.App {
  text-align: center;
  margin: 20px 40px;
  font-size: 20px;
}

.App h1 {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;
  padding: 20px;
}

.App hr {
  margin-top: 40px;
}
